.homePageBody {
  color: aliceblue;
}

.homePageHeader {
  color: aliceblue;
  font-size: 2.5em;
  text-align: center;
  border-bottom: solid 2px aliceblue;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}

.gridCard {
  text-decoration: none;
  background-color: var(--card-background);
  color: var(--link);
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}

.gridCard:hover {
  cursor: pointer;
  color: var(--link-hover);
  background-color: var(--card-background-hover);
  transition: 0.1s;
}
