:root {
  --card-background: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.3);
}

.homePageBody {
  color: var(--font-color);
  background-color: var(--body-background);
}

.homePageHeader {
  color: var(--font-color);
  font-size: 2.5rem;
  text-align: center;
}

.statement {
  margin: auto;
  padding: 10px 0;
  width: fit-content;
  color: var(--goethe-accent-color);
  font-size: 1.7em;
  font-weight: bold;
}

/* Grid Container */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
  align-items: center;
}

.gridContainer .gridCard {
  overflow: hidden;
  min-height: 400px;
  text-decoration: none;
  transition: 0.2s ease;
  background-color: var(--card-background);
  box-shadow: 0 0 10px 0 var(--card-shadow);
  color: var(--font-color);
  border-radius: 3px;
}

.gridContainer .gridCard:hover {
  box-shadow: 0 0 30px 0 var(--card-shadow);
}

.gridContainer .gridCard .link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--link);
}

.gridContainer .gridCard .link:hover {
  cursor: pointer;
  color: var(--link-hover);
  transition: 0.1s;
}

.gridContainer .flagImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
}

.gridContainer .gridCard .cardText {
  padding: 0 15px;
}
