:root {
  --header-button-background: #909090;
  --header-button-background-hover: #808080;
  --header-button-border: #8f8f8f;
}

/* Header styles */
.header {
  border-bottom: solid 2px var(--box-border);
  display: flex;
  align-items: center;
  background-color: var(--box-background);
  height: 80px;
  padding: 5px 10px;
}

/* Flex container styles */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Items styles */
.item {
  background-color: var(--header-button-background);
  border: 2px solid var(--header-button-border);
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  max-width: 150px;
}

.item:hover {
  background-color: var(--header-button-background-hover);
}

/* Logo styles */

.logo {
  width: auto;
  height: 100%;
}

.wellcome {
  color: var(--font-color);
  margin: auto auto;
}
