:root {
  --item-box-background: #d3d3d3;
  --item-box-border: #8f8f8f;
  --header-box-background: #5f5f5f;
  --every-accent: #b1b111;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  background-color: var(--header-box-background);
  height: 80px;
  padding: 5px 10px;
}

/* Flex container styles */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Flex items styles */
.item {
  background-color: var(--item-box-background);
  border: 1px solid var(--item-box-border);
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  max-width: 150px;
}

.item:hover {
  background-color: var(--every-accent);
}

.item:last-child {
  margin-left: auto;
}

/* Logo styles */

.logo {
  width: 100%;
  height: 100%;
}

/* Up button styles */

.upButton {
  opacity: 0.3;
  position: fixed;
  bottom: 90px;
  left: 20px;
  width: 0;
  height: 0;
}

.upButton:hover {
  transition: 0.1s;
  opacity: 1;
}

.upButton .logo {
  width: 10vh;
  height: 10vh;
}
