/* Header styles */
.header {
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--box-background);
  overflow: visible;
  display: flex;
  padding: 3px 40px;
  height: 60px;
}

/* Flex container styles */
.flexContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Items styles */
.item {
  height: 100%;
}

/* Logo styles */

.logo {
  height: 100%;
}

.wellcome {
  color: var(--font-color);
  margin: auto auto;
}
