.header {
  display: flex;
  align-items: center;
  background-color: rgb(217, 217, 218);
}

.flexContainer {
  /* Flex properties */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.flexContainer .item {
  padding: 5px;
    background-color: rgb(136, 136, 136);
}

.flexContainer .item:hover {
  padding: 5px;
    background-color: aquamarine;
}