:root {
  /* Global for everything */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  --font-color: #00445e;

  /* Global link vars */
  --goethe-accent-color: #6ec1e4;
  --link: #3fbbe5;
  --link-hover: #3fd4fd;
  --link-visited: #3f9bc5;

  /* Vars for header body and footer*/
  --body-background: #ffffff;
  --html-background: var(--body-background);
  --box-background: #ffffff;
  --box-border: #80808000;
}

.link {
  color: var(--link);
}

.link:visited {
  color: var(--link-visited);
}

.link:hover {
  color: var(--link-hover);
}

html {
  margin: 0;
  background-color: var(--html-background);
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
