:root {
  /* Global for everything */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; 
  --font-color: aliceblue;
  
  /* Global link vars */
  --link: #3fbbe5;
  --link-hover: #3fd4fd;
  --link-visited: #3f9bc5;

  /* Vars for header body and footer*/
  --body-background: #707070;
  --box-background: #505050;
  --box-border: #808080;
}

.link {
  color: var(--link);
}

.link:visited {
  color: var(--link-visited);
}

.link:hover {
  color: var(--link-hover);
}

html {
  margin: 0;
  background-color: rgb(34, 34, 34);
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

iframe {
  background-color: white !important;
}
